*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

.login{
    border:1px solid #DDD;
    width:280px;
    margin: 100px auto;
    padding:15px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #ddd;
}
.login h4{
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size:1.5rem;
    font-weight:normal;
    margin-bottom:20px;
}
.login input{
    display: block;
    margin-bottom: 17px;
    width:250px;
    padding: 4px 0 4px 25px;
    border:none;
    outline: none;
    border-bottom: 1px solid #aaa;
}

 .login .password , .login .email{
    position:relative
}
.email .em{
    position:absolute;
    top:1px
}
.password .eye{
    position:absolute;
    top: 2px;
    right: 15px;
    cursor: pointer;
}
.password .pass{
    position: absolute;
    top:1px
}
.password #show{
    display:none;
}
.login input:focus{
    border-bottom: 2px solid red;
}

.login input[type="submit"]{
   width:60px;
   background-color:#0d6efd;
   color:white;
   border:none;
   border-radius: 3px;
   cursor: pointer;
   padding:7px 0;
}